<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- orig: <link rel="stylesheet" type="text/css" href="/css/main.css"> -->
			<link href="/css/main.css" rel="stylesheet">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
				<li><a href="/registration.html">Registration</a></li>
	        		<li><a href="/program">Program</a></li>
				<li><a href="/Lodging">Lodging</a></li>
	        		<li><a href="/code">Code of Conduct</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:se.datalibrarian@gmail.com">email</a></li>
	        		<li><a href="https://github.com/se-datalibrarian">github.com/se-datalibrarian</a></li>
				</ul>
			</footer>
		</body>
	</html>
